
/*** GENERAL ***/
@font-face {
	font-family: 'Carnival';
	src: url('carnival.ttf');
}

html, body{
	margin:0;
	overflow-x:hidden;
}

.unselectable{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
}

a{
	color: #cc2727;
}
a:hover{
	color: #ee4949;
}


/*** GRAPHICs ***/
#graphics{
	background: #ddd;
	width:100%;
	height:600px;
}


/*** MATHs ***/
#math{
	width: 1600px;
	height: 220px;
	margin: 0px auto;
	font-family: monospace;

	/** HACK **/
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);

}

.tools{
	position: relative;
	top: 20px;
	width:100px;
	float: left;
}
.tools > button{
	width:90px;
	font-size: 12px;
}

.signs{
	position: relative;
	float: left;
	font-size: 112px;
}


.matrix, .equals, .plus{
	position: relative;
	height:120px;
	margin:10px;
	margin-right:0;
	float: left;
}
.matrix{
	padding: 0 10px;
}
.matrix > input, .matrix > div{
	float:left;
	width:50px; height:50px;
	background: #eee;
	margin:5px;
	position: relative;

	font-size: 15px;
	line-height: 50px;
	text-align: center;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;

}
.matrix > input{
	border: 2px solid #bbb;
	display: block;
	width:50px; height:50px;
	font-size: 15px;
	font-family: monospace;

	cursor: col-resize;
}
.matrix[expanded]{
	width:300px;
}
.matrix[expanded] > div{
	position: relative;
	width:80px;
	margin:5px 10px;
	font-size: 12px;
	cursor: pointer;
}
.matrix[expanded] > div[plus]:before{
	content: '+';
	position: absolute;
	font-size: 20px;
	text-align: center;
	width:0px; height:0px;
	left: -16px;
	color: #000;
}
.equals{
	width:60px;
}
.equals:after{
	content: '';
	width:40px;
	height:20px;
	position: absolute;
	top:0; bottom:0; left:0; right:0;
	margin:auto;
	border: 5px solid #000;
	border-left: none;
	border-right: none;
}
.matrix > .label, .matrix[expanded] > .label{
	font-size: 15px;
	float: none;
	background: none;
	width: 100%;
	margin: 0;
	position: absolute;
	top: 210px;
	left: 0px;
	line-height: 20px;
	font-family: Helvetica, Arial, sans-serif;
}
.matrix > .label > span{
	color: #888;
}
.matrix > div[plain]{
	border: 0px solid #eee;
}

